# Binaries
kernel.bin*
*.o
*.rlib
kernel/kernel
kernel/uefi.img

# rump
rump/binutils-2.30.90
rump/gcc-8.2.0
gcc-8.2.0.tar.gz

# Builds
target/
Cargo.lock

# Editor configs
.vscode

binutils-*
public
.gdb_history
.DS_Store
