[submodule "lib/multiboot"]
	path = lib/multiboot
	url = https://github.com/gz/rust-multiboot.git
[submodule "lib/cpuid"]
	path = lib/cpuid
	url = git@github.com:gz/rust-cpuid.git
[submodule "lib/x86"]
	path = lib/x86
	url = git@github.com:gz/rust-x86.git
[submodule "lib/rlib"]
	path = lib/rlib
	url = git@github.com:rust-lang/rlibc.git
[submodule "lib/klogger"]
	path = lib/klogger
	url = git@github.com:gz/rust-klogger.git
[submodule "lib/elfloader"]
	path = lib/elfloader
	url = git@github.com:gz/rust-elfloader.git
[submodule "lib/slabmalloc"]
	path = lib/slabmalloc
	url = git@github.com:gz/rust-slabmalloc.git
[submodule "lib/backtracer"]
	path = lib/backtracer
	url = git@github.com:gz/backtracer
[submodule "lib/termcodes"]
	path = lib/termcodes
	url = git@github.com:gz/termcodes.git
[submodule "lib/libfringe"]
	path = lib/libfringe
	url = git@github.com:gz/libfringe.git
[submodule "lib/processortrace"]
	path = lib/processortrace
	url = git@github.com:gz/rust-processortrace.git
[submodule "lib/driverkit"]
	path = lib/driverkit
	url = git@github.com:gz/rust-driverkit.git
