[workspace]
resolver = "2"

members = [
    "bootloader",
    "kernel",
    "lib/apic",
    "lib/bootloader_shared",
    "lib/kpi",
    "lib/lineup",
    "lib/node-replication/cnr",
    "lib/node-replication/nr",
    "lib/rpc",
    "lib/vibrio",
    "lib/vmxnet3",
    "usr/init",
    "usr/rkapps",
]


# disable stack unwinding on panic for now
[profile.dev]
panic = "abort"
debug = true

[profile.release]
panic = "abort"
debug = true
