CONFIG_ARCHITECTURE="x86_64"
CONFIG_MENU_LST="tup/menu.lst.x86_64"
CONFIG_OPTIONAL_C_FLAGS="-g -O2 -DNDEBUG"
CONFIG_BUILD_DOC=y
CONFIG_WHITELISTING_ENABLED=y
#CONFIG_BLACKLISTING_ENABLED=y
#CONFIG_CLANG=y

# choose newlib or oldc
CONFIG_LIBC="newlib"
CONFIG_NEWLIB_MALLOC="oldmalloc"
CONFIG_USE_FRAME_POINTER=y
CONFIG_TIMESLICE=80

#CONFIG_MICROBENCHMARKS=y
#CONFIG_TRACE=y
#CONFIG_SUPPORT_QEMU_NETWORKING=y
#CONFIG_TRACE_NETWORK_SUBSYSTEM=y
#CONFIG_TRACE_DISABLE_LRPC=y

CONFIG_USE_KALUGA_DVM=y
# Partitioned memory server
#CONFIG_MEMSERV_PERCORE=y

# Lazy THC implementation (requires use_fp = True)
CONFIG_LAZY_THC=y

# Select remote cap database implementation
# RCAP_DB_NULL | RCAP_DB_CENTRAL | RCAP_DB_TWOPC
CONFIG_RCAP_DB=RCAP_DB_NULL

# Configure pagesize for libbarrelfish's morecore implementation
# x86_64 accepts "small", "large", and "huge" for 4kB, 2MB and 1GB pages
# respectively. x86_32 accepts "small" and "large" for 4kB and 2MB/4MB pages
# respectively. All other architectures default to their default page size.
CONFIG_MORECORE_PAGESIZE="small"

# Select scheduler
# data Scheduler = RBED | RR deriving (Show,Eq)
CONFIG_SCHEDULER="RBED"

# select pmap datastructure (options: LL, ARRAY)
CONFIG_PMAP_DS="ARRAY"

# Physical Address Extensions (PAE)-enabled paging on x86-32
#CONFIG_PAE_PAGING=y

# Page Size Extensions (PSE)-enabled paging on x86-32
# Always enabled when pae_paging == True, regardless of value
#CONFIG_PSE_PAGING=y

# No Execute Extensions (NXE)-enabled paging on x86-32
# May not be True when CONFIG_PAE_PAGING is not set
#CONFIG_NXE_PAGING=y

#CONFIG_ONESHOT_TIMER=y

#CONFIG_USE_GLOBAL_DEBUG=y
#CONFIG_E1000N_DEBUG=y
#CONFIG_EMAC_DEBUG=y
#CONFIG_RTL8029_DEBUG=y
#CONFIG_AHCID_DEBUG=y
#CONFIG_LIBAHCI_DEBUG=y
#CONFIG_VFS_DEBUG=y
#CONFIG_ETHERSRV_DEBUG=y
#CONFIG_NETD_DEBUG=y
#CONFIG_LIBACPI_DEBUG=y
#CONFIG_ACPI_INTERFACE_DEBUG=y
#CONFIG_LPC_TIMER_DEBUG=y
#CONFIG_LWIP_DEBUG=y
#CONFIG_LIBPCI_DEBUG=y
#CONFIG_USRPCI_DEBUG=y
#CONFIG_TIMER_DEBUG=y
#CONFIG_ECLIPSE_KERNEL_DEBUG=y
#CONFIG_SKB_DEBUG=y
#CONFIG_SKB_CLIENT_DEBUG=y
#CONFIG_FLOUNDER_DEBUG=y
#CONFIG_FLOUNDER_FAILED_DEBUG=y
#CONFIG_WEBSERVER_DEBUG=y
#CONFIG_SQLCLIENT_DEBUG=y
#CONFIG_SQLITE_DEBUG=y
#CONFIG_SQLITE_BACKEND_DEBUG=y
#CONFIG_NFS_DEBUG=y
#CONFIG_RPC_DEBUG=y
#CONFIG_LOOPBACK_DEBUG=y
#CONFIG_OCTOPUS_DEBUG=y
#CONFIG_DEBUG_DEADLOCKS=y
