# Verification with Dafny

This chapter documents the efforts to verify data-structures in the kernel with
Dafny. The dafny code lives in the `verification` directory.

## Toolchain

TBD. Install dafny etc.
