on:
  push:
    branches-ignore:
      - 'dependabot/**'
    paths-ignore:
      - 'doc/**'
      - '**.md'

name: Run clippy
jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - run: |
          sed -i'' -e 's/git@github.com:/https:\/\/github.com\//' .gitmodules
          git submodule update --init
          rustup show
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --package nrk
